.hero {
    background-image: url(../Images/Background/bakgrunn4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
}

/*AnsatteSide*/


/*MenySide*/


/*SalgSide*/


/*StartSide*/


/*Stederside*/

