.hero {
    background-image: url(../Images/Background/bakgrunn4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: beige;
    margin: 0px;
    padding: 5px;
}
/*AnsatteSide*/


/*MenySide*/


/*SalgSide*/


/*StartSide*/


/*Stederside*/

